# Welcome to my crash course on SQL!

## This course is designed to give you a simple overview into the basics of SQL
- What is a `query`
- How to write a `query`
- Basic syntax
- Keywords and their functionality

## Getting started
STEPS:
1. In the sample cell below in the bottom right-hand corner you should see a block that says either `markdown`, `python`, or `SQL`. If it does not say `SQL` click on it and select `SQL`.
<br>
***NOTE: It may run a quick install and you'll see that in your terminal.***
2. The syntax highlighting should switch to the SQL configuration. For example, `SELECT` and `FROM` should be highlighted now. 
<br>
***IMPORTANT:*** This will help with visualizing what is SQL syntax and what is custom made `fields` and `tables`.

In [ ]:
SELECT student_name, age, gpa
FROM students
WHERE grade > 90;

SyntaxError: invalid syntax (3163780829.py, line 1)

### With the configuration out of the way, lets discuss `queries`

## What is a `query`

A query is simply **a request for data or information from a database**. Take the syntax above for example, in english it translates to: 
<br>
- `SELECT` or give me the students `name`, `age`, and `gpa` `FROM` the `students` table, but only give me students that have a `grade > 90`.