# This is strictly for practice on the car models db local to my machine

### Import packages needed

In [5]:
import mysql.connector as mydbconnection
from mysql.connector import Error
import pandas as pd

### Establish connection

In [4]:
conn = None
try:
    conn = mydbconnection.connect(
        host='localhost',
        database='classicmodels',
        user='root',
        password='password')
    if conn.is_connected():
        print('Connected to MySQL database')
        cursor = conn.cursor()
except Error as e:
    print(e)

Connected to MySQL database

### 1. List the `product lines` and the number of `products` in each `product line`. Sort the output by the number of `products` in descending order.

In [ ]:
q_number_of_product_per = """
                            select productLine, sum(quantityInStock)
                            from products
                            group by productLine
                            order by sum(quantityInStock) desc
                        """
cursor.execute(q_number_of_product_per)

rows = cursor.fetchall()
columns = ["Product Line", "Stock"]
df = pd.DataFrame(rows, columns=columns)
print(df)
df.to_csv('data/products_report.csv', index=False)

       Product Line   Stock
0      Classic Cars  219183
1      Vintage Cars  124880
2       Motorcycles   69401
3            Planes   62287
4  Trucks and Buses   35851
5             Ships   26833
6            Trains   16696

### 2. List the `order date` and the `number of orders` placed in October of each year. Sort the output by `order date` in ascending order.

In [29]:
q_oct_orders = """
                    select year(der_ord.orderDate) as year, count(der_ord.orderNumber) as "Order Count"
                    from ( select orderDate, orderNumber
                            from orders
                            where month(orderDate) = 10) as der_ord
                    group by year(der_ord.orderDate)
                    order by year;
               """
cursor.execute(q_oct_orders)
df = pd.DataFrame(cursor.fetchall(), columns=("Order Date", "Orders Placed"))
print(df)
df.to_csv('data/orders_report.csv', index=False)

   Order Date  Orders Placed
0        2003             18
1        2004             13

### 3. List the sales rep's first name, last name, and the number of customers they are responsible for. Sort the output by the number of customers in descending order.

In [30]:
query = """
            select e.firstName, e.lastName, count(c.salesRepEmployeeNumber) as number_of_customers
            from employees e
            left join customers c on e.employeeNumber = c.salesRepEmployeeNumber
            group by c.salesRepEmployeeNumber, e.firstName, e.lastName, e.jobTitle
            having e.jobTitle = "Sales Rep"
            order by number_of_customers desc;
        """
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=("First Name", "Last Name", "Number of Customers"))
print(df)
df.to_csv('data/sales_rep_report.csv', index=False)

   First Name  Last Name  Number of Customers
0      Pamela   Castillo                   10
1       Barry      Jones                    9
2      George     Vanauf                    8
3       Larry       Bott                    8
4    Foon Yue      Tseng                    7
5      Gerard  Hernandez                    7
6      Leslie   Jennings                    6
7      Leslie   Thompson                    6
8       Julie   Firrelli                    6
9       Steve  Patterson                    6
10       Loui     Bondur                    6
11     Martin     Gerard                    6
12       Andy     Fixter                    5
13      Peter      Marsh                    5
14       Mami      Nishi                    5
15        Tom       King                    0
16    Yoshimi       Kato                    0

### 4. List the customer name and their average payment amount. Sort the output by average payment amount in descending order.

In [31]:
query = """
    select c.contactFirstName, round(avg(p.amount),2) average_payment_amount
    from customers c 
    left join payments p on c.customerNumber = p.customerNumber
    group by c.customerNumber, c.contactFirstName
    order by average_payment_amount desc;
"""
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=("First Name","Average Payment"))
print(df)
df.to_csv('data/customer_payments.csv', index=False)

     First Name Average Payment
0       Valarie        80375.24
1         Julie        66170.39
2         Susan        64909.80
3           Sue        59551.38
4        Diego         55056.84
..          ...             ...
117       Sven             None
118      Carmen            None
119      Hanna             None
120  Alexander             None
121      Raanan            None

[122 rows x 2 columns]